<nav class="navbar navbar-expand-sm navbar-dark bg-primary">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/">Minesweeper</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLink="/game-setup" routerLinkActive="active">
                <a class="nav-link">Setup</a>
            </li>
            <li class="nav-item" routerLink="/game-board" routerLinkActive="active">
                <a class="nav-link">Game Board</a>
            </li>
            <li class="nav-item" routerLink="/finished-games-list" routerLinkActive="active">
                <a class="nav-link">Games Ranking</a>
            </li>
        </ul>
    </div>
</nav>