@import url("../../../../node_modules/font-awesome/css/font-awesome.min.css");
tr {
    &.data {
        td {
            text-align: center;
            width: auto;
        }
    }
}

td {
    $squareSize: 20px;
    width: $squareSize;
    height: $squareSize;
    border: 0.1px solid black;
    text-align: center;
    font-size: $squareSize - 7px;
    padding: 0;
    &.visible {
        $squareColors: ( 0: yellow, 1: DodgerBlue, 2: MediumSeaGreen, 3: Orange, 4: SlateBlue, 5: LightGray, 6: rgb(44, 89, 102), 7: Tomato, 8: red, 9: black, );
        @each $name,
        $value in $squareColors {
            &.square-#{$name} {
                font-family: Arial, Helvetica, sans-serif;
                @if $name==9 {
                    font-family: "FontAwesome";
                }
                color: $value;
                background-color: lightgray;
                font-weight: 600;
            }
            &.square-#{$name}:after {
                content: "#{$name}";
                @if $name==0 {
                    content: "";
                }
                @if $name==9 {
                    content: "\f0a3";
                }
            }
        }
    }
    &.hidden {
        background-color: gray;
        &.flagged {
            font-family: "FontAwesome";
            color: black;
        }
        &.flagged:after {
            content: "\f024";
        }
    }
    &.detonated {
        background-color: red !important;
        &.detonation {
            font-family: "FontAwesome";
        }
        &.detonation:after {
            content: "\f0a3";
        }
    }
}