<div class="container">
    <div class="row justify-content-center">

        <div class="col-12" *ngIf="gameStatus==='Ready' || gameStatus==='Playing'">
            <div class="row">
                <div class="col-12 justify-content-center">Player: {{playerName}} Remaining <i class="fa fa-flag"></i> {{availableFlags}} time {{timerValue | showTime}} </div>
            </div>

            <table>
                <tbody>
                    <tr *ngFor="let row of field; index as i;">
                        <td [ngClass]="getClasses(square.value,square.status)" (contextmenu)="flag(i,j)" oncontextmenu="return false" (click)="uncover(i,j)" *ngFor="let square of field[i]; index as j;">
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row justify-content-center">
                <div class="col-12 justify-content-center"><button type="button alert-button block" class="btn btn-primary" (click)="pauseGame()">Pause Game</button></div>
            </div>
        </div>


        <div *ngIf="gameStatus==='Finished'" class="col-12 d-flex justify-content-center alert" [ngClass]="{'alert-success': solved,'alert-danger':!solved}" role="alert">
            <div class="row">
                <div class="col-12 d-flex justify-content-center mt-2 mb-2">
                    <span *ngIf="solved">Congratulations!!!! you won level {{level}} in {{timerValue | showTime}}!</span>
                    <span *ngIf="!solved">Game Over, Man!</span>
                </div>
                <div class="col-12 d-flex justify-content-center mt-2 mb-2">
                    <button type="button alert-button" class="btn btn-primary" (click)="playAgain()">Play Again</button>
                </div>
            </div>
        </div>

        <div *ngIf="gameStatus==='On Hold Finished' || gameStatus==='On Hold Ready'" class=" alert-dangercol-12 d-flex justify-content-center alert" role="alert">
            <span>Waiting player's turn</span>
        </div>

        <div *ngIf="gameStatus==='Paused'" class="block">
            <div class="row">
                <div class="col-12 d-flex justify-content-center mt-2 mb-2">
                    <button type="button alert-button" class="block btn btn-primary" (click)="resumeGame()">Resume Paused Game</button>
                </div>
                <div class="col-12 d-flex justify-content-center mt-2 mb-2">
                    <button type="button alert-button" class="block btn btn-primary" (click)="newGameSameoptions()">Start New Game</button>
                </div>
            </div>
        </div>

        <div *ngIf="gameStatus==='Waiting Player'" class=" alert-dangercol-12 d-flex justify-content-center alert" role="alert alert-success">
            <button type="button alert-button " class="btn btn-primary" (click)="settings()">Set Player 2 Name</button>
        </div>

    </div>
</div>