td {
    width: 25px;
    height: 25px;
    border: 0.1px solid black;
    text-align: center;
    &.visible {
        $squareColors: ( 0: yellow, 1: DodgerBlue, 2: MediumSeaGreen, 3: Orange, 4: SlateBlue, 5: LightGray, 6: rgb(44, 89, 102), 7: Tomato, 8: black, 9: red, );
        @each $name,
        $value in $squareColors {
            &.square-#{$name} {
                background-color: $value;
            }
        }
    }
    &.hidden {
        background-color: gray;
        // text-indent: 100%;
        // white-space: nowrap;
        // overflow: hidden;
    }
    &.detonated {
        background-color: red;
    }
}